<ion-header>
  <ion-toolbar>
    <ion-title>Create a new category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add category</ion-card-title>
    </ion-card-header>    
    <ion-card-content>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <ion-item>
                    <ion-label >
                        Category Name :
                    </ion-label>
                    <ion-input type="text" id="name" class="form-control is-valid" [(ngModel)]="newCategory.name" name="name" ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label >
                        Category Description :
                    </ion-label>
                    <ion-input type="text" id="name" class="form-control is-valid" [(ngModel)]="newCategory.description" name="description" ></ion-input>
                  </ion-item>
                  <ion-button color="success" (click)="add()">Create</ion-button>
                  <ion-button color="danger" [routerLink]="['home/categories']">Cancel</ion-button>
                </div>
                </form>              
            </div>
          </div>
    </ion-card-content>
  </ion-card>
</ion-content>
