<ion-header>
    <ion-toolbar>
      <ion-title>Create a new travel</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-content>
        <ion-card>
            <ion-item>
            <ion-label >
              Title:
            </ion-label>
            <ion-input type="text"  class="form-control is-valid" [(ngModel)]="travel.title" name="title" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label >
                    Destination :
                  </ion-label>
                  <ion-input type="text"  class="form-control is-valid" [(ngModel)]="travel.destination" name="destination" ></ion-input>
            </ion-item>

            <ion-item> 
                <ion-label >
                    Resume :
                  </ion-label>
                <ion-input type="text"  class="form-control is-valid" [(ngModel)]="travel.resume" name="resume" ></ion-input>
            </ion-item>
            <ion-item> 
                <ion-label >
                    DateTime :
                  </ion-label>
                <ion-input type="text"  class="form-control is-valid" [(ngModel)]="travel.dateTime" name="dateTime" ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label >
                Places to visit :
                </ion-label>
              <ion-input type="text"  class="form-control is-valid" [(ngModel)]="travel.placeToVisit" name="placeToVisit" ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Category</ion-label>
                <ion-select >
                  <ion-select-option *ngFor="let category of categories" [value]="category">
                    {{ category.name }}
                  </ion-select-option>
                </ion-select>
            </ion-item>
            <div>
            <ion-button color="primary" size="small" (click)="modify()">Add</ion-button>
            <ion-button color="danger" size="small" [routerLink]="['/home/travels']" >Cancel</ion-button>
          </div>

  </ion-card>

</ion-content>
