<ion-header>
    <ion-toolbar>
      <ion-title>Travels</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button [routerLink]="['createTravel/']">
            <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
     
    <ion-card *ngFor="let trav of travels" [routerLink]="['displaytravel/',trav.id]">
        <ion-card-header>
          <ion-card-title>{{ trav.destination }}</ion-card-title>
          <ion-card-subtitle>{{ trav.title }}</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
        
  </ion-content>
  