<ion-header>
  <ion-toolbar>
    <ion-title>Modification</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Modify category : {{category.id}}</ion-card-title>
    </ion-card-header>    
    <ion-card-content>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <ion-item>
                  <label name="name">
                    Category Name :
                  </label>
                  <ion-input required type="text" class="form-control is-valid" [(ngModel)]="category.name" name="name" ></ion-input>
                  </ion-item>
                  <ion-item>
                  <label name="name">
                      Category Description : 
                    </label>
                    <ion-input required type="text"  class="form-control is-valid" [(ngModel)]="category.description" name="description" ></ion-input>
                  </ion-item>
                  </div>
                <ion-button color="primary" size="small" (click)="modify()">Modify</ion-button>
              </form>
            </div>
          </div>
    </ion-card-content>
  </ion-card>
</ion-content>
